.neirongkuang{
	margin:0 auto;
	background-position:center top;
	width:1050px;
    clear:both;
}
.zuocekuangjia{
	float:left;
    width:700px;
}
.youcekuangjia{
	float:right;
	width:300px;

}
.weizhi{
	width:700px;
	height:40px;
	font-size:15px;
}
.weizhi p{
	padding:20px 0px 0px 20px;
}
.dabiaoti{
	margin:20px 0 0 0;
	text-align: center;
	font-weight: bolder;
	font-size:20px;
	height:40px;
	border-bottom:1px solid #c9baa5;
}
.riqi{
	height:40px;
	width:700px;
}
.riqi p{
	text-align: center;
	margin-top: 5px;
	font-size:12px;
	color:#757575;
}
.zhengwen p{
	line-height: 28px;
	padding:10px 10px 10px 10px;
	font size:14px;
	text-indent: 2em;
	text-align: left;
	border-bottom:1px solid #c9baa5;
}
.zhengwen h1{

	text-align: center;

}
.zhengwendibu{
	height:40px;
	width:700px;
}
.shangyipian{
	float:left;
	height:40px;
	width:350px;
}
.xiayipian{
	float:right;
	height:40px;
	width:350px;
}
.shangyipian p{
	float:left;
	margin:10px;
}
.xiayipian p{
	float:right;
	margin:10px;
}
.suoyinkuang{
	width:200px;
	margin:20px 100px 0px 0px;
	background:url(../images/bg.png);
	border:1px solid #c9baa5;
    text-align: center;
}
.images{
	background-color:none;
}
.image{
	width:195px;
	height:165px;
	float:left;
	margin:0px 0px 20px 0px;
	border:1px solid gray;
}
.img{
	width:135px;
	height:120px;
	float:left;
	opacity:0.5;
}
.desc{
	font-size:12px;
	float:left;
	padding:0px 80px;
	margin:px;
	height:100px;
	color:pink;
}
.img:hover{
	opacity:1;
}
div.image img{
	margin:3px;
	border:1px solid #bebebe;
	width:190px;
	height:160px;
}
div.image a:hover img{
	border:1px solid #333333;
}
.suoyintu img{
	height:40px;
}
