*{
	font-family: "黑体";
}
body{
	background:url(../images/bodybg.jpg);
	background-repeat:repeat-y;
	background-size:cover;



}
.topbig{
	background:url(../images/topbig.jpg);
	background-position: center top;
	height:210px;
	margin:0 auto;
	
}
.topbig img{
	height:80px;

	opacity：0.7；
}
.topbigimg{
	height:00px;
	padding:130px 100px 0px 100px;

	}
.daohangkuang{
    background-color:#7fb4e2;
}
.chaolianjie{ 
	margin-top: 8px;
	float:left;
	color:#fff;
	width:950px;
	height:32px;
}
.chaolianjie a{
	margin:0px 5px 0px 5px;
	font-weight: bolder;
	color:#fff;
	height:40px;
	font-size: 12px;

}
.chaolianjie a:hover{
	color:#f9f603;
	text-decoration:none;
}
.sousuoneirong{
	float:left;
	height:40px;
	width:300px;

}
.sousuobaikuang{
	float:right;
	height:40px;
	width:120px;
	
}
.baikuang{
	height:20px;
	width:120px;
	margin: 10px 5px 10px 0px;

}
.sousuoanniu{
	float:right;
	height:60px;
	width:40px;
	margin: 12px 5px 10px 10px;
}
.yejiaokuang{
	width:px;
	padding-top: 10px;
	clear:both;
	background:url(../images/foot.gif);
	background-position: center;
	height:105px;
}
.youqinglianjiekuang p{
	font-size:12px;
	padding:40px 0 0 0;
	text-align: center;
	font-weight: bold;
}
.yejiaotupiankuang p{
	text-align: center;
	margin:5px;
}
.beiankuang p{
	text-align: center;
	font-size:12px;
}




